[submodule "protos"]
	path = protos
	url = https://github.com/EliasBlind/EduFlowProtos
	branch = develop
[submodule "third_party/googleapis"]
    path = third_party/googleapis
    url = https://github.com/googleapis/googleapis.git